@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main {
    background-color: #F9F5F1;
}

header {
    padding: 30px;
}

header img {
    width: 146px;
    height: auto;
}

main {
    width: 98vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

main img {
    width: 930px;
    height: auto;

    margin-bottom: 60px;
}

.container_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 50px;
}

.container_main h1 {
    font-family: "Libre Baskerville", serif;
    font-size: 4.1rem;

    margin-bottom: 25px;

    color: #000629;
}

.container_main p {
    color: #3C408F;

    font-family: "Figtree", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.email_address {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;

    padding: 40px 50px;

    margin-top: 43px;
    margin-bottom: 80px;

    width: 722px;
    height: 195px;

    background-color: #FFFFFF;

    border: 1px solid #E3DED9;
    border-radius: 12px;
}

.email_address p {
    color: black;
    font-size: 18px;

    margin-bottom: 10px;
}

.email_input button {
    width: 135px;
    height: 53px;

    border-radius: 5px;
    border: none;

    font-family: "Figtree", sans-serif;
    font-size: 20px;

    background-color: #3C36CC;
    color: #FFFFFF;
}

.email_input input {
    width: 460px;
    height: 53px;

    padding: 0 15px; 

    background-color: #F9F8F7;

    border: 1px solid transparent;
    border-radius: 5px;

    font-size: 18px;
    font-family: "Figtree", sans-serif;

    box-shadow: 0;

    transition: border-color 0.4s ease, box-shadow 0.4s ease;
}

.email_input input:focus {
    outline: none;
    border-color: #0000008f;
    box-shadow: 0 0 0 3px #8b7ddf59;
}

.email_address input::placeholder{
    color: #64687A;

    font-size: 18px;
}